<section class="carousel" aria-label="Gallery">
  <ol class="carousel__viewport">
    <li id="carousel__slide1" tabindex="0" class="carousel__slide">
      <div class="carousel__snapper">
        <div class="chart-wrapper">
          <div class="chart-container">
            <canvas id="EmotionWeekly">{{ chartWeekly }}</canvas>
            <div class="chart-description">Weekly</div>
            <div class="therapy-description">
              Congratulation! You're currently at Week 52. You're doing 27%
              better than last week. However I've observed that this week you
              may be facing challenges with self-validation and anger issue.
              Perhaps you could consider trying the following steps to enhance
              your self-esteem and anger issue. We've created two exercises to
              help you recognize your personal issues, become more in tune with
              your inner emotional changes, and ultimately uncover the root
              causes. Blabla bla all the text goes here
              <div class="icon-container">
                <div class="column">
                  <p>
                    <span class="material-symbols-outlined"> family_star </span
                    ><br />Confidence
                  </p>
                </div>
                <div class="column">
                  <p>
                    <span class="material-symbols-outlined">
                      sentiment_extremely_dissatisfied </span
                    ><br />Anger
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li id="carousel__slide2" tabindex="0" class="carousel__slide">
      <div class="carousel__snapper"></div>
      <a href="#carousel__slide1" class="carousel__prev"
        >Go to previous slide</a
      >
      <a href="#carousel__slide3" class="carousel__next">Go to next slide</a>
    </li>
    <li id="carousel__slide3" tabindex="0" class="carousel__slide">
      <div class="carousel__snapper"></div>
      <a href="#carousel__slide2" class="carousel__prev"
        >Go to previous slide</a
      >
      <a href="#carousel__slide4" class="carousel__next">Go to next slide</a>
    </li>
    <li id="carousel__slide4" tabindex="0" class="carousel__slide">
      <div class="carousel__snapper"></div>
      <a href="#carousel__slide3" class="carousel__prev"
        >Go to previous slide</a
      >
      <a href="#carousel__slide1" class="carousel__next">Go to first slide</a>
    </li>
  </ol>
  <aside class="carousel__navigation">
    <ol class="carousel__navigation-list">
      <li class="carousel__navigation-item">
        <a href="#carousel__slide1" class="carousel__navigation-button"
          >Go to slide 1</a
        >
      </li>
      <li class="carousel__navigation-item">
        <a href="#carousel__slide2" class="carousel__navigation-button"
          >Go to slide 2</a
        >
      </li>
      <li class="carousel__navigation-item">
        <a href="#carousel__slide3" class="carousel__navigation-button"
          >Go to slide 3</a
        >
      </li>
      <li class="carousel__navigation-item">
        <a href="#carousel__slide4" class="carousel__navigation-button"
          >Go to slide 4</a
        >
      </li>
    </ol>
  </aside>
</section>
