<button class="resetButton" (click)="onClick()">Reset</button>

<div class="community-post-title1">What did you feel?</div>

<div class="button-container">
  <div class="settings-button">
    <button
      mat-raised-button
      class="custom-button"
      color="primary"
      (click)="setSelectedValue(sliderValues['stress'], 'stress')"
      [(ngModel)]="sliderValues['stress']"
      (ngModelChange)="onSliderChange('stress')"
    >
      <span class="material-symbols-outlined"> sentiment_stressed </span>
      <span>stress</span>
      level:{{ sliderValues['stress'] }}
    </button>

    <div 
    *ngIf="isSliderVisible('stress')" 
    class="center-slider">
      <mat-slider
        min="1"
        max="5"
        name="mySliderstress"
        ngDefaultControl
        step="1"
        [(ngModel)]="sliderValues['stress']"
        (ngModelChange)="onSliderChange('stress')"
      >
        <input matSliderThumb />
      </mat-slider>
    </div>
  </div>


  <div class="settings-button">
    <button
      mat-raised-button
      class="custom-button"
      color="primary"
      (click)="setSelectedValue(sliderValues['hungry'], 'hungry')"
      [(ngModel)]="sliderValues['hungry']"
      (ngModelChange)="onSliderChange('hungry')"
    >
      <span class="material-symbols-outlined"> lunch_dining </span>
      hungry
      level:{{ sliderValues['hungry'] }}
    </button>

    <div 
    *ngIf="isSliderVisible('hungry')" 
    class="center-slider">
      <mat-slider
      min="1"
      max="5"
      name="mySlider"
      ngDefaultControl
      step="1"
      [(ngModel)]="sliderValues['hungry']"
      (ngModelChange)="onSliderChange('hungry')"
      >
        <input matSliderThumb />
      </mat-slider>
    </div>
  </div>

  <div class="settings-button">
    <button
      mat-raised-button
      class="custom-button"
      color="primary"
      (click)="setSelectedValue(sliderValues['tiredness'], 'tiredness')"
      [(ngModel)]="sliderValues['hungry']"
    >
      <span class="material-symbols-outlined"> airline_seat_flat </span>
      tiredness
      level:{{ sliderValues['tiredness'] }}
    </button>

    <div 
    *ngIf="isSliderVisible('tiredness')" 
    class="center-slider">
      <mat-slider
        min="1"
        max="5"
        name="mySlider"
        ngDefaultControl
        step="1"
        [(ngModel)]="sliderValues['tiredness']"
        (ngModelChange)="onSliderChange('tiredness')"
      >
        <input matSliderThumb />
      </mat-slider>
    </div>
  </div>

  <div class="settings-button">
    <button mat-raised-button class="custom-button" color="primary" (click)="onClick()">
      <span class="material-symbols-outlined"> add </span>
      <div>more options</div>
    </button>
  </div>
</div>

<div class="community-post-title">What did you do?</div>

<div class="button-container">
  <div class="settings-button">
    <button
      mat-raised-button
      class="custom-button"
      color="primary"
      (click)="setSelectedValue(sliderValues['sports'], 'sports')"
      [(ngModel)]="sliderValues['sports']"
    >
      <span class="material-symbols-outlined"> fitness_center </span>
      sports
      level:{{ sliderValues['sports'] }}
    </button>

    <div 
    *ngIf="isSliderVisible('sports')" 
    class="center-slider2">
      <mat-slider
        min="1"
        max="5"
        name="mySlider"
        ngDefaultControl
        step="1"
        [(ngModel)]="sliderValues['sports']"
        (ngModelChange)="onSliderChange('sports')"
      >
        <input matSliderThumb />
      </mat-slider>
    </div>
  </div>

  <div class="settings-button">
    <button
      mat-raised-button
      class="custom-button"
      color="primary"
      (click)="setSelectedValue(sliderValues['romance'], 'romance')"
      [(ngModel)]="sliderValues['romance']"
    >
      <span class="material-symbols-outlined"> favorite </span>
      romance
      level:{{ sliderValues['romance'] }}
    </button>

    <div 
    *ngIf="isSliderVisible('romance')" 
    class="center-slider2">
      <mat-slider
        min="1"
        max="5"
        name="mySlider"
        ngDefaultControl
        step="1"
        [(ngModel)]="sliderValues['romance']"
        (ngModelChange)="onSliderChange('romance')"
      >
        <input matSliderThumb />
      </mat-slider>
    </div>
  </div>

  <div class="settings-button">
    <button
      mat-raised-button
      class="custom-button"
      color="primary"
      (click)="setSelectedValue(sliderValues['work'], 'work')"
      [(ngModel)]="sliderValues['work']"
    >
      <span class="material-symbols-outlined"> computer </span>
      <div>work</div>
      level:{{ sliderValues['work'] }}
    </button>
    <div 
    *ngIf="isSliderVisible('work')" 
    class="center-slider2">
      <mat-slider
        min="1"
        max="5"
        name="mySlider"
        ngDefaultControl
        step="1"
        [(ngModel)]="sliderValues['work']"
        (ngModelChange)="onSliderChange('work')"
      >
        <input matSliderThumb />
      </mat-slider>
    </div>
  </div>

  <div class="settings-button">
    <button mat-raised-button class="custom-button" color="primary" (click)="onClick()">
      <span class="material-symbols-outlined"> add </span>
      <div>more options</div>
    </button>
  </div>
</div>

<div class="community-post-title">How are you today?</div>

<div class="button-container">
  <div class="settings-button">
    <button
      mat-raised-button
      class="custom-button"
      color="primary"
      (click)="setSelectedValue(sliderValues['angry'], 'angry')"
      [(ngModel)]="sliderValues['angry']"
    >
      <div style="display: flex; flex-direction: column; align-items: center;">
        <span class="material-symbols-outlined"> sentiment_extremely_dissatisfied </span>
        <span>angry</span>
        level:{{ sliderValues['angry'] }}
      </div>
    </button>

    <div 
    *ngIf="isSliderVisible('angry')" 
    class="center-slider3">
      <mat-slider
        min="1"
        max="5"
        name="mySlider"
        ngDefaultControl
        step="1"
        [(ngModel)]="sliderValues['angry']"
        (ngModelChange)="onSliderChange('angry')"
      >
        <input matSliderThumb />
      </mat-slider>
    </div>
  </div>

  <div class="settings-button">
    <button
      mat-raised-button
      class="custom-button"
      color="primary"
      (click)="setSelectedValue(sliderValues['happy'], 'happy')"
      [(ngModel)]="sliderValues['happy']"
    >
      <span class="material-symbols-outlined"> sentiment_very_satisfied </span>
      <span>happy</span>
      level:{{ sliderValues['happy'] }}
    </button>
    <div 
    *ngIf="isSliderVisible('happy')" 
    class="center-slider3">
      <mat-slider
        min="1"
        max="5"
        name="mySlider"
        ngDefaultControl
        step="1"
        [(ngModel)]="sliderValues['happy']"
        (ngModelChange)="onSliderChange('happy')"
      >
        <input matSliderThumb />
      </mat-slider>
    </div>
  </div>

  <div class="settings-button">
    <button
      mat-raised-button
      class="custom-button"
      color="primary"
      (click)="setSelectedValue(sliderValues['sad'], 'sad')"
      [(ngModel)]="sliderValues['sad']"
    >
      <span class="material-symbols-outlined"> sentiment_sad </span>
      <div>sad</div>
      level:{{ sliderValues['sad'] }}
    </button>
    <div 
    *ngIf="isSliderVisible('sad')" 
    class="center-slider3">
      <mat-slider
        min="1"
        max="5"
        name="mySlider"
        ngDefaultControl
        step="1"
        [(ngModel)]="sliderValues['sad']"
        (ngModelChange)="onSliderChange('sad')"
      >
        <input matSliderThumb />
      </mat-slider>
    </div>
  </div>
  
  <div class="settings-button">
    <button mat-raised-button class="custom-button" color="primary" (click)="onClick()">
      <span class="material-symbols-outlined"> add </span>
      <div>more options</div>
    </button>
  </div>
</div>

<button class="logButton" (click)="onClick()">Log</button>

