.icons-wrapper {
  padding-top: 30px;
}
.custom-slider {
  width: 67%; /* Adjust the width to your desired value */
}
.newEntryAlternative {
  display: grid;
  grid-template-rows: 2fr auto;
}

.newEntryAlternative form {
  justify-self: center;
  align-self: center;
}

.navigationButtons {
  display: flex;
  justify-content: space-around;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48 !important ;
  font-size: 40px;
}

.community-post-title {
  font-size: 21px;
  text-align: center;
  font-weight: bold;
  padding-bottom: 3px;
}

.hidden {
  display: none;
}

.button-container {
  display: flex;
  justify-content: space-between; /* 使四个按钮等距分布 */
  width: 100%; /* 使容器占据整个页面宽度 */
}

.navi-button-container {
  padding-top: 20px;
  display: flex;
  justify-content: space-between; /* 使四个按钮等距分布 */
  width: 100%; /* 使容器占据整个页面宽度 */
}
.navigationButtons {
  display: flex;
  justify-content: space-around;
}

.settings-button {
  flex: 1;
}

.settings-button .custom-button {
  margin: 8px;
  height: 70px;
  width: 70px;
  color: black;
  border-radius: 20%; /* This property makes the button round */
}

button.active {
  border-width: 2px;
  color: black;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
}

button {
  border: 0;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.custom-button {
  text-align: center;
}

.wide-button {
  width: 150px; /* 调整按钮宽度 */
  height: 100px; /* 调整按钮高度 */
}

.center-slider {
  text-align: center;
}

.resetButton {
  right: 16px; /* 距离左侧的距离 */
  width: 100px;
  padding: 10px 20px; /* Add padding for spacing */
  background-color: whitesmoke; /* Background color */
  border: 1px solid gainsboro; /* Border */

  color: #000; /* Text color */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Show a pointer cursor on hover */
  text-align: center; /* Center text horizontally */
  user-select: none; /* Disable text selection */
}

.skip {
  width: 75px; /* 调整按钮宽度 */
  height: 36px; /* 调整按钮高度 */
  position: absolute;
  bottom: 86px; /* 距离底部的距离 */
  left: 36px; /* 距离左侧的距离 */
}

.logButton {
  width: 100px;
  padding: 15px 20px; /* Add padding for spacing */
  background-color: #ffd740; /* Background color */
  color: #000; /* Text color */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Show a pointer cursor on hover */
  text-align: center; /* Center text horizontally */
  user-select: none; /* Disable text selection */
}

.material-symbols-outlined {
  font-size: 36px; /* 调整图标的大小 */
}

.hidden {
  display: none;
}
.footer-padding {
  padding-bottom: 200px;
}
.header-padding {
}
