.community-post-title {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 20px;
}

.community-post-title1 {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}
.hidden {
  display: none;
}

.button-container {
  display: flex;
  justify-content: space-between; /* 使四个按钮等距分布 */
  width: 100%; /* 使容器占据整个页面宽度 */
  
}

.settings-button {
  flex: 1; /* 让每个按钮在容器中平均占据可用空间 */
  left: 10px; /* 相对于左侧的百分比位置 */
  margin-right: 20px; /* 可选：添加按钮之间的间距 */
  position: relative;
}

.wide-button {
  width: 150px; /* 调整按钮宽度 */
  height: 100px; /* 调整按钮高度 */
}

.center-slider {
  position: absolute;
  bottom: -60%; /* 相对于底部的百分比位置 */
  left: 0%; /* 相对于左侧的百分比位置 */
}

.center-slider2 {
  position: absolute;
  bottom: -60%; /* 相对于底部的百分比位置 */
  left: 0%; /* 相对于左侧的百分比位置 */
}

.center-slider3 {
  position: absolute;
  bottom: -60%; /* 相对于底部的百分比位置 */
  left: 0%; /* 相对于左侧的百分比位置 */
}

.custom-button {
  width: 75px; /* 调整按钮宽度 */
  height: 75px; /* 调整按钮高度 */
}

.resetButton {
  position: absolute;
  top: 60px; /* 距离顶部的距离 */
  left: 10px; /* 距离左侧的距离 */
}

.skip {
  width: 75px; /* 调整按钮宽度 */
  height: 36px; /* 调整按钮高度 */
  position: absolute;
  bottom: 86px; /* 距离底部的距离 */
  left: 36px; /* 距离左侧的距离 */
}

.logButton {
  width: 75px; /* 调整按钮宽度 */
  height: 36px; /* 调整按钮高度 */
  position: absolute;
  bottom: 86px; /* 距离底部的距离 */
  right: 36px; /* 距离左侧的距离 */
}

.material-symbols-outlined {
  font-size: 36px; /* 调整图标的大小 */
}

.hidden {
  display: none;
}


