.community-post-title {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: space-between; /* 使四个按钮等距分布 */
    width: 100%; /* 使容器占据整个页面宽度 */
}

.settings-button {
    flex: 1; /* 让每个按钮在容器中平均占据可用空间 */
    margin-right: 20px; /* 可选：添加按钮之间的间距 */
}

.wide-button {
    width: 150px; /* 调整按钮宽度 */
    height: 100px; /* 调整按钮高度 */
  }

.center-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px; /* 可根据需要调整高度，这里使用视口高度 */
  }

.custom-button {
    width: 75px; /* 调整按钮宽度 */
    height: 75px; /* 调整按钮高度 */
  }

.back {
    position: absolute;
    top: 60px; /* 距离顶部的距离 */
    left: 10px; /* 距离左侧的距离 */
  }

.skip {
    width: 75px; /* 调整按钮宽度 */
    height: 36px; /* 调整按钮高度 */
    position: absolute;
    bottom: 86px; /* 距离底部的距离 */
    left: 36px; /* 距离左侧的距离 */
  }

.continue {
    width: 75px; /* 调整按钮宽度 */
    height: 36px; /* 调整按钮高度 */
    position: absolute;
    bottom: 86px; /* 距离底部的距离 */
    right: 36px; /* 距离左侧的距离 */
  }
