<div class="newEntryAlternative">
  <form>
    <div class="header-padding"></div>
    <div class="icons-wrapper">
      <div class="community-post-title">What did you feel?</div>
      <div class="button-container">
        <div
          (click)="setSelectedValue(sliderValues['stress'], 'stress', $event)"
          class="settings-button"
        >
          <button
            mat-raised-button
            class="custom-button"
            color="primary"
            [@buttonClick]="buttonState['stress']"
            [ngStyle]="{ 'background-color': buttonColor['stress'] }"
          >
            <span
              (click)="
                setSelectedValue(sliderValues['stress'], 'stress', $event)
              "
              class="material-symbols-outlined"
            >
              sentiment_stressed
            </span>
            stress
          </button>
        </div>

        <div class="settings-button">
          <button
            mat-raised-button
            class="custom-button"
            color="primary"
            [@buttonClick]="buttonState['hungry']"
            (click)="setSelectedValue(sliderValues['hungry'], 'hungry', $event)"
            [ngStyle]="{ 'background-color': buttonColor['hungry'] }"
          >
            <span class="material-symbols-outlined"> lunch_dining </span>
            hungry
          </button>
        </div>

        <div class="settings-button">
          <button
            mat-raised-button
            class="custom-button"
            color="primary"
            [@buttonClick]="buttonState['tiredness']"
            (click)="
              setSelectedValue(sliderValues['tiredness'], 'tiredness', $event)
            "
            [ngStyle]="{ 'background-color': buttonColor['tiredness'] }"
          >
            <span class="material-symbols-outlined"> airline_seat_flat </span>
            tiredness
          </button>

          <!--*ngIf="isSliderVisible('tiredness')"-->
        </div>

        <div class="settings-button">
          <button mat-raised-button class="custom-button" color="primary">
            <span class="material-symbols-outlined"> add </span>
          </button>
        </div>
      </div>
      <div class="slider-wrapper">
        <div class="center-slider">
          <mat-slider
            class="custom-slider"
            min="0"
            max="5"
            name="mySlider"
            ngDefaultControl
            step="1"
            [class.hidden]="!showSlider['stress']"
            [(ngModel)]="sliderValues['stress']"
            (input)="updateButtonColor('stress')"
          >
            <input matSliderThumb />
          </mat-slider>
        </div>
        <div class="center-slider">
          <mat-slider
            class="custom-slider"
            min="0"
            max="5"
            name="mySlider"
            ngDefaultControl
            step="1"
            [class.hidden]="!showSlider['hungry']"
            [(ngModel)]="sliderValues['hungry']"
            (input)="updateButtonColor('hungry')"
          >
            <input matSliderThumb />
          </mat-slider>
        </div>
        <div class="center-slider">
          <mat-slider
            class="custom-slider"
            min="0"
            max="5"
            name="mySlider"
            ngDefaultControl
            step="1"
            [class.hidden]="!showSlider['tiredness']"
            [(ngModel)]="sliderValues['tiredness']"
            (input)="updateButtonColor('tiredness')"
          >
            <input matSliderThumb />
          </mat-slider>
        </div>
      </div>
    </div>

    <div class="icons-wrapper">
      <div class="community-post-title">What did you do?</div>
      <div class="button-container">
        <div class="settings-button">
          <button
            mat-raised-button
            class="custom-button"
            color="primary"
            [@buttonClick]="buttonState['sports']"
            (click)="setSelectedValue(sliderValues['sports'], 'sports', $event)"
            [ngStyle]="{ 'background-color': buttonColor['sports'] }"
          >
            <span class="material-symbols-outlined"> fitness_center </span>
            sports
          </button>
        </div>

        <div class="settings-button">
          <button
            mat-raised-button
            class="custom-button"
            color="primary"
            [@buttonClick]="buttonState['romance']"
            (click)="
              setSelectedValue(sliderValues['romance'], 'romance', $event)
            "
            [ngStyle]="{ 'background-color': buttonColor['romance'] }"
          >
            <span class="material-symbols-outlined"> favorite </span>
            romance
          </button>
        </div>

        <div class="settings-button">
          <button
            mat-raised-button
            class="custom-button"
            color="primary"
            [@buttonClick]="buttonState['work']"
            (click)="setSelectedValue(sliderValues['work'], 'work', $event)"
            [ngStyle]="{ 'background-color': buttonColor['work'] }"
          >
            <span class="material-symbols-outlined"> computer </span>
            <div>work</div>
          </button>
        </div>

        <div class="settings-button">
          <button mat-raised-button class="custom-button" color="primary">
            <span class="material-symbols-outlined"> add </span>
          </button>
        </div>
      </div>
      <div class="slider-wrapper">
        <div class="center-slider">
          <mat-slider
            class="custom-slider"
            min="0"
            max="5"
            name="mySlider"
            ngDefaultControl
            step="1"
            [class.hidden]="!showSlider['sports']"
            [(ngModel)]="sliderValues['sports']"
            (input)="updateButtonColor('sports')"
          >
            <input matSliderThumb />
          </mat-slider>
        </div>
        <div class="center-slider">
          <mat-slider
            class="custom-slider"
            min="0"
            max="5"
            name="mySlider"
            ngDefaultControl
            step="1"
            [class.hidden]="!showSlider['work']"
            [(ngModel)]="sliderValues['work']"
            (input)="updateButtonColor('work')"
          >
            <input matSliderThumb />
          </mat-slider>
        </div>

        <div class="center-slider">
          <mat-slider
            class="custom-slider"
            min="0"
            max="5"
            name="mySlider"
            ngDefaultControl
            step="1"
            [class.hidden]="!showSlider['romance']"
            [(ngModel)]="sliderValues['romance']"
            (input)="updateButtonColor('romance')"
          >
            <input matSliderThumb />
          </mat-slider>
        </div>
      </div>
    </div>

    <div class="icons-wrapper">
      <div class="community-post-title">How are you today?</div>
      <div class="button-container">
        <div class="settings-button">
          <button
            mat-raised-button
            class="custom-button"
            color="primary"
            [@buttonClick]="buttonState['angry']"
            (click)="setSelectedValue(sliderValues['angry'], 'angry', $event)"
            [ngStyle]="{ 'background-color': buttonColor['angry'] }"
          >
            <div
              style="display: flex; flex-direction: column; align-items: center"
            >
              <span class="material-symbols-outlined">
                sentiment_extremely_dissatisfied
              </span>
              <span>angry</span>
            </div>
          </button>
        </div>

        <div class="settings-button">
          <button
            mat-raised-button
            class="custom-button"
            color="primary"
            [@buttonClick]="buttonState['happy']"
            (click)="setSelectedValue(sliderValues['happy'], 'happy', $event)"
            [ngStyle]="{ 'background-color': buttonColor['happy'] }"
          >
            <span class="material-symbols-outlined">
              sentiment_very_satisfied
            </span>
            <span>happy</span>
          </button>
        </div>

        <div class="settings-button">
          <button
            mat-raised-button
            class="custom-button"
            color="primary"
            [@buttonClick]="buttonState['sad']"
            (click)="setSelectedValue(sliderValues['sad'], 'sad', $event)"
            [ngStyle]="{ 'background-color': buttonColor['sad'] }"
          >
            <span class="material-symbols-outlined"> sentiment_sad </span>
            <div>sad</div>
          </button>
        </div>

        <div class="settings-button">
          <button mat-raised-button class="custom-button" color="primary">
            <span class="material-symbols-outlined"> add </span>
          </button>
        </div>
      </div>
      <div class="slider-wrapper">
        <div class="center-slider">
          <mat-slider
            class="custom-slider"
            min="0"
            max="5"
            name="mySlider"
            ngDefaultControl
            step="1"
            [class.hidden]="!showSlider['angry']"
            [(ngModel)]="sliderValues['angry']"
            (input)="updateButtonColor('angry')"
          >
            <input matSliderThumb />
          </mat-slider>
        </div>
        <div class="center-slider">
          <mat-slider
            min="0"
            class="custom-slider"
            max="5"
            name="mySlider"
            ngDefaultControl
            step="1"
            [class.hidden]="!showSlider['happy']"
            [(ngModel)]="sliderValues['happy']"
            (input)="updateButtonColor('happy')"
          >
            <input matSliderThumb />
          </mat-slider>
        </div>
        <div class="center-slider">
          <mat-slider
            class="custom-slider"
            min="0"
            max="5"
            name="mySlider"
            ngDefaultControl
            step="1"
            [class.hidden]="!showSlider['sad']"
            [(ngModel)]="sliderValues['sad']"
            (input)="updateButtonColor('sad')"
          >
            <input matSliderThumb />
          </mat-slider>
        </div>
      </div>
    </div>
    <div class="navi-button-container">
      <button class="resetButton" (click)="reSet()">Reset</button>
      <button (click)="onClick()" class="logButton">Log</button>
    </div>
  </form>
  <div class="footer-padding"></div>
</div>
