<div class="main-post">
  <div class="card-wrapper">
    <div class="card-wrapper-inner">
      <div class="spruch">
        <div class="recommendation">
          <span size="30px" class="material-symbols-outlined">
            volunteer_activism
          </span>
        </div>
        <div class="community-post-shortdescription">
          Self-esteem is the foundation upon which you build your best self
        </div>
      </div>
    </div>
  </div>

  <div class="card-wrapper">
    <div class="card-wrapper-inner">
      <h3>Exercises Of The Week</h3>
      <div class="community-post-shortdescription">
        I've observed that this week you may be facing challenges with
        self-validation and anger issue. Perhaps you could consider trying the
        following steps to enhance your self-esteem and anger issue. We've
        created two exercises to help you recognize your personal issues, become
        more in tune with your inner emotional changes, and ultimately uncover
        the root causes.
      </div>

      <div class="icon-container">
        <div class="column">
          <p>
            <span class="material-symbols-outlined"> family_star </span
            ><br />Confidence
          </p>
        </div>
        <div class="column">
          <p>
            <span class="material-symbols-outlined">
              sentiment_extremely_dissatisfied </span
            ><br />Anger
          </p>
        </div>
      </div>

      <b>read more</b>
    </div>
  </div>

  <div class="card-wrapper">
    <div class="card-wrapper-inner">
      <h3>Love Is All Around</h3>

      <div class="community-post-wrapper">
        <div class="community-post-title">User123 sent you a flower</div>
        <div class="community-post-shortdescription">
          Hey life is too short to ... <b>read more</b>
        </div>
      </div>

      <div class="community-post-wrapper">
        <div class="community-post-title">User444 sent you a heart</div>
        <div class="community-post-shortdescription">
          I understand how you feel because I was once in that ...
          <b>read more</b>
        </div>
      </div>

      <div class="community-post-wrapper">
        <div class="community-post-title">Tammy poked you</div>
        <div class="community-post-shortdescription">
          Hi friend, hope you doing well today and will do much better ...
          <b>read more</b>
        </div>
      </div>
    </div>
  </div>

  <div class="card-wrapper">
    <div class="card-wrapper-inner">
      <h3>Overall Comparison</h3>
      <img src="assets/images/overall.png" /><br />
      Congratulation! You're currently at Week 52. You're doing 27% better than
      last week and in overall 10% better than all other weeks. This week
      overall you've made a huge progress in managing your anger issue..
      <b>read more</b>
    </div>
  </div>

  <div class="card-wrapper">
    <div class="card-wrapper-inner">
      <h3>Community Comparison</h3>
      <img src="assets/images/lastweek.png" /><br />
      This week compared to the community you're still in the normal range ...
      <b>read more</b>
    </div>
  </div>

  <div class="card-wrapper">
    <div class="card-wrapper-inner">
      <h3>Answers to your last post</h3>
      <div class="community-post-wrapper">
        <div class="community-post-title">Job causes burnout</div>
        <div class="community-post-shortdescription">
          First thing to know is, you're not alone. The uni is different than
          ... <b>read more</b>
        </div>
      </div>
      <div class="community-post-wrapper">
        <div class="community-post-title">
          Mom doesn't understand that I need help
        </div>
        <div class="community-post-shortdescription">
          From your writting i know you love your mom alot but at this time u
          can't handle her anymore ...
          <b>read more</b>
        </div>
      </div>
      <div class="community-post-wrapper">
        <div class="community-post-title">Tinder issue</div>
        <div class="community-post-shortdescription">
          this is a common issue that the tinder pool is now ...
          <b>read more</b>
        </div>
      </div>
    </div>
  </div>

  <div class="card-wrapper">
    <div class="card-wrapper-inner">
      <h3>Newest from Communnity</h3>

      <div class="community-post-wrapper">
        <div class="community-post-title">Job causes burnout</div>
        <div class="community-post-shortdescription">
          Hi, i need help. At the moment my uni is ... <b>read more</b>
        </div>
      </div>

      <div class="community-post-wrapper">
        <div class="community-post-title">
          Mom doesn't understand that I need help
        </div>
        <div class="community-post-shortdescription">
          My mom is a unique person. She really deeply love me but she's
          controlling alot ... <b>read more</b>
        </div>
      </div>

      <div class="community-post-wrapper">
        <div class="community-post-title">Job causes burnout</div>
        <div class="community-post-shortdescription">
          Hi, i need help. At the moment my uni is ... <b>read more</b>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-overview"></div>
</div>
