<div class="parent">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="parent-input">
      <div class="description">USERNAME</div>
      <input id="email" type="text" matInput formControlName="email" />
    </div>

    <div class="parent-input">
      <div class="description">PASSWORD</div>

      <input
        id="password"
        type="password"
        matInput
        formControlName="password"
      />
    </div>

    <div class="submit-button">
      <button type="submit" mat-button>LOGIN</button>
    </div>
  </form>
  <div (click)="switchLayout()" class="toogle-button">
    <span class="material-symbols-outlined"> toggle_on </span>
  </div>
  <div class="layout-description">
    You are using Layout <b> {{ layoutName }}</b
    >. Login with <br />username: user%
    <br />
    password: 12345
  </div>
  <div class="alert alert-danger" *ngIf="error">
    Error: You can only enter user1-user12 as username
  </div>
</div>
