.layout-description {
  padding: 20px;
  text-align: center;
}

.material-symbols-outlined {
  padding-top: 20px;
  font-size: 40px;
}
.container-button {
  position: relative;
}

.app-name {
  font-size: 40px;
  font-weight: bold;
  color: green;
  font-family: monospace;
}

.description {
  font-weight: bold;
  color: green;
}
input {
  width: 100%;
  padding: 15px;
  margin: 8px 0;
  box-sizing: border-box;
}
.slogan {
  padding-bottom: 20px;
}
.parent {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.parent-input {
  padding-top: 10px;
  border-color: #3a996c;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  background-color: #3a996c; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.submit-button {
  padding-top: 10px;
}

.login-wrapper {
  align-items: center;
}
