<div class="newEntryAlternative">
  <form>
    <div [class.hidden]="!(currentStep === 1)">
      <div class="icons-wrapper">
        <div class="community-post-title">
          How strong were your positive emotions?
        </div>
        <br />
        <div class="button-container">
          <div class="settings-button">
            <button
              mat-raised-button
              class="custom-button"
              color="primary"
              (click)="setSelectedValue(sliderValues['happy'], 'happy', $event)"
              [ngStyle]="{ 'background-color': buttonColor['happy'] }"
            >
              <span class="material-symbols-outlined">
                sentiment_very_satisfied
              </span>
              Joy
            </button>
          </div>

          <div class="settings-button">
            <button
              mat-raised-button
              class="custom-button"
              color="primary"
              (click)="setSelectedValue(sliderValues['love'], 'love', $event)"
              [ngStyle]="{ 'background-color': buttonColor['love'] }"
            >
              <span class="material-symbols-outlined"> favorite </span>
              Love
            </button>
          </div>

          <div class="settings-button">
            <button
              mat-raised-button
              class="custom-button"
              color="primary"
              (click)="
                setSelectedValue(sliderValues['gratitude'], 'gratitude', $event)
              "
              [ngStyle]="{ 'background-color': buttonColor['gratitude'] }"
            >
              <span class="material-symbols-outlined"> sentiment_calm </span>
              Gratitude
            </button>
          </div>
          <div class="settings-button">
            <button mat-raised-button class="custom-button" color="primary">
              <!-- No onClick logic defined for button yet-->
              <span class="material-symbols-outlined"> add </span>
            </button>
          </div>
        </div>
      </div>
      <div class="slider-wrapper">
        <mat-slider
          min="0"
          class="custom-slider"
          max="5"
          name="mySlider"
          ngDefaultControl
          step="1"
          [class.hidden]="!showSlider['happy']"
          [(ngModel)]="sliderValues['happy']"
          (input)="updateButtonColorPositive('happy')"
        >
          <input matSliderThumb />
        </mat-slider>
        <mat-slider
          class="custom-slider"
          min="0"
          max="5"
          name="mySlider"
          ngDefaultControl
          step="1"
          [class.hidden]="!showSlider['love']"
          [(ngModel)]="sliderValues['love']"
          (input)="updateButtonColorPositive('love')"
        >
          <input matSliderThumb />
        </mat-slider>
        <mat-slider
          class="custom-slider"
          min="0"
          max="5"
          name="mySlider"
          ngDefaultControl
          step="1"
          [class.hidden]="!showSlider['gratitude']"
          [(ngModel)]="sliderValues['gratitude']"
          (input)="updateButtonColorPositive('gratitude')"
        >
          <input matSliderThumb />
        </mat-slider>
      </div>
    </div>

    <div [class.hidden]="!(currentStep === 2)">
      <div class="icon-wrapper">
        <div class="community-post-title">
          How strong were your negative emotions?
        </div>
        <br />
        <div class="button-container">
          <div class="settings-button">
            <button
              mat-raised-button
              class="custom-button"
              color="primary"
              (click)="setSelectedValue(sliderValues['angry'], 'angry', $event)"
              [ngStyle]="{ 'background-color': buttonColor['angry'] }"
            >
              <span class="material-symbols-outlined">
                sentiment_extremely_dissatisfied
              </span>
              angry
            </button>
          </div>
          <div class="settings-button">
            <button
              mat-raised-button
              class="custom-button"
              color="primary"
              (click)="
                setSelectedValue(sliderValues['stress'], 'stress', $event)
              "
              [ngStyle]="{ 'background-color': buttonColor['stress'] }"
            >
              <span class="material-symbols-outlined">
                sentiment_stressed
              </span>
              stress
            </button>
          </div>

          <div class="settings-button">
            <button
              mat-raised-button
              class="custom-button"
              color="primary"
              (click)="setSelectedValue(sliderValues['sad'], 'sad', $event)"
              [ngStyle]="{ 'background-color': buttonColor['sad'] }"
            >
              <span class="material-symbols-outlined"> sentiment_sad </span>
              sadness
            </button>
          </div>

          <div class="settings-button">
            <button mat-raised-button class="custom-button" color="primary">
              <!-- No onClick logic defined for button yet-->
              <span class="material-symbols-outlined"> add </span>
            </button>
          </div>
        </div>
        <div class="slider-wrapper">
          <div class="center-slider">
            <mat-slider
              class="custom-slider"
              min="0"
              max="5"
              name="mySlider"
              ngDefaultControl
              step="1"
              [class.hidden]="!showSlider['angry']"
              [(ngModel)]="sliderValues['angry']"
              (input)="updateButtonColor('angry')"
            >
              <input matSliderThumb />
            </mat-slider>
          </div>
          <div class="center-slider">
            <mat-slider
              class="custom-slider"
              min="0"
              max="5"
              name="mySlider"
              ngDefaultControl
              step="1"
              [class.hidden]="!showSlider['stress']"
              [(ngModel)]="sliderValues['stress']"
              (input)="updateButtonColor('stress')"
            >
              <input matSliderThumb />
            </mat-slider>
          </div>
          <div class="center-slider">
            <mat-slider
              class="custom-slider"
              min="0"
              max="5"
              name="mySlider"
              ngDefaultControl
              step="1"
              [class.hidden]="!showSlider['sad']"
              [(ngModel)]="sliderValues['sad']"
              (input)="updateButtonColor('sad')"
            >
              <input matSliderThumb />
            </mat-slider>
          </div>
        </div>
      </div>
    </div>

    <div [class.hidden]="!(currentStep === 3)">
      <div class="icons-wrapper">
        <div class="community-post-title">What did you do?</div>
        <br />
        <div class="button-container">
          <div class="settings-button">
            <button
              mat-raised-button
              class="custom-button"
              color="primary"
              (click)="
                setSelectedValue(sliderValues['sports'], 'sports', $event)
              "
              [ngStyle]="{ 'background-color': buttonColor['sports'] }"
            >
              <span class="material-symbols-outlined"> fitness_center </span>
              sports
            </button>
          </div>

          <div class="settings-button">
            <button
              mat-raised-button
              class="custom-button"
              color="primary"
              (click)="
                setSelectedValue(sliderValues['romance'], 'romance', $event)
              "
              [ngStyle]="{ 'background-color': buttonColor['romance'] }"
            >
              <span class="material-symbols-outlined"> favorite </span>
              romance
            </button>
          </div>

          <div class="settings-button">
            <button
              mat-raised-button
              class="custom-button"
              color="primary"
              (click)="setSelectedValue(sliderValues['work'], 'work', $event)"
              [ngStyle]="{ 'background-color': buttonColor['work'] }"
            >
              <span class="material-symbols-outlined"> computer </span>
              work
            </button>
          </div>
          <div class="settings-button">
            <button mat-raised-button class="custom-button" color="primary">
              <!-- No onClick logic defined for button yet-->
              <span class="material-symbols-outlined"> add </span>
            </button>
          </div>
        </div>
        <div class="slider-wrapper">
          <mat-slider
            class="custom-slider"
            min="0"
            max="5"
            name="mySlider"
            ngDefaultControl
            step="1"
            [class.hidden]="!showSlider['sports']"
            [(ngModel)]="sliderValues['sports']"
            (input)="updateButtonColorActivity('sports')"
          >
            <input matSliderThumb />
          </mat-slider>
          <mat-slider
            class="custom-slider"
            min="0"
            max="5"
            name="mySlider"
            ngDefaultControl
            step="1"
            [class.hidden]="!showSlider['romance']"
            [(ngModel)]="sliderValues['romance']"
            (input)="updateButtonColorActivity('romance')"
          >
            <input matSliderThumb />
          </mat-slider>

          <mat-slider
            class="custom-slider"
            min="0"
            max="5"
            name="mySlider"
            ngDefaultControl
            step="1"
            [class.hidden]="!showSlider['work']"
            [(ngModel)]="sliderValues['work']"
            (input)="updateButtonColorActivity('work')"
          >
            <input matSliderThumb />
          </mat-slider>
        </div>
      </div>
    </div>

    <div class="navigationButtons">
      <button
        class="backButton"
        *ngIf="currentStep != 1"
        type="button"
        (click)="previousStep()"
      >
        Back
      </button>
      <button
        class="nextButton"
        *ngIf="currentStep != 3"
        type="button"
        (click)="nextStep()"
      >
        Next
      </button>
      <button
        class="submitButton"
        *ngIf="currentStep == 3"
        type="submit"
        (click)="submitForm()"
      >
        Log
      </button>
    </div>
  </form>
</div>
