.newEntryAlternative {
    display: grid;
    grid-template-rows: 1fr auto;
    height: 80vh;
}

.newEntryAlternative form {
    justify-self: center;
    align-self: center;
}

.navigationButtons {
    display: flex;
    justify-content: space-around;
}

.settings-button {
    flex: 1;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.settings-button .custom-button {
    margin: 10px;
    height: 70px;
    width: 70px;
}

.center-slider {
    position: absolute;
    bottom: 320px;
    left: 120px;
}

div.community-post-title {
    font-size: 25px;
    text-align:center;
    font-weight: bold;
}

.custom-button {
    text-align: center;
}

button.active {
    border-width: 5px;
}

.navigationButtons button {
    height: 40px;
    width: 100px;
    border-radius: 15px;
    font-size: 5vw;
}

.nextButton, .submitButton {
    background-color:#3a996c;
}

.hidden {
    display: none;
}