<div class="main-post">
  <div class="card-wrapper">
    <div class="card-wrapper-inner">
      <div class="spruch">
        <div class="recommendation">
          <span size="30px" class="material-symbols-outlined">
            volunteer_activism
          </span>
        </div>
        <div class="community-post-shortdescription">
          Self-esteem is the foundation upon which you build your best self
        </div>
      </div>
    </div>
  </div>

  <div class="chart-container">
    <div class="chart-description">Weekly Overview</div>

    <canvas id="EmotionWeekly">{{ chartWeekly }}</canvas>
    <div class="therapy-description">
      Congratulation! You're currently at Week 52. You're doing 27% better than
      last week.
      <a href="">read more</a>
    </div>
  </div>

  <div class="card-wrapper">
    <div class="card-wrapper-inner">
      <h3>Shortcuts</h3>

      <div class="icon-container">
        <div class="column">
          <p>
            <span class="material-symbols-outlined"> leaderboard </span
            ><br />Monthly
          </p>
        </div>
        <div class="column">
          <p>
            <span class="material-symbols-outlined"> analytics </span
            ><br />Yearly
          </p>
        </div>
      </div>

      <div class="icon-container">
        <div class="column">
          <p>
            <span class="material-symbols-outlined"> family_star </span
            ><br />Exercises
          </p>
        </div>
        <div class="column">
          <p>
            <span class="material-symbols-outlined">
              featured_seasonal_and_gifts </span
            ><br />
            Gifts
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-overview"></div>
</div>
