<div class="main-post">
  <div class="card-wrapper">
    <div class="card-wrapper-inner">
      <div class="spruch">
        <div class="recommendation">
          <span size="30px" class="material-symbols-outlined">
            volunteer_activism
          </span>
        </div>
        <div class="community-post-shortdescription">
          Self-esteem is the foundation upon which you build your best self
        </div>
      </div>
    </div>
  </div>

  <div class="card-wrapper">
    <div class="card-wrapper-inner">
      <h3>Exercises Of The Week</h3>
      <div class="community-post-shortdescription">
        I've observed that this week you may be facing challenges with
        self-validation and anger issue. Perhaps you could consider trying the
        following steps to enhance your self-esteem and anger issue. We've
        created two exercises to help you recognize your personal issues, become
        more in tune with your inner emotional changes, and ultimately uncover
        the root causes.
      </div>

      <div class="icon-container">
        <div class="column">
          <p>
            <span class="material-symbols-outlined"> family_star </span
            ><br />Confidence
          </p>
        </div>
        <div class="column">
          <p>
            <span class="material-symbols-outlined">
              sentiment_extremely_dissatisfied </span
            ><br />Anger
          </p>
        </div>
      </div>

      <b>read more</b>
    </div>
  </div>

  <div class="card-wrapper">
    <div class="card-wrapper-inner">
      <h3>Interaction</h3>

      <div class="icon-container">
        <div class="column">
          <p>
            <span class="material-symbols-outlined"> mark_email_unread </span
            ><br />Answer
          </p>
        </div>
        <div class="column">
          <p>
            <span class="material-symbols-outlined"> forum </span><br />New Post
          </p>
        </div>
      </div>

      <div class="icon-container">
        <div class="column">
          <p>
            <span class="material-symbols-outlined">
              featured_seasonal_and_gifts </span
            ><br />Received Gifts
          </p>
        </div>
        <div class="column">
          <p>
            <span class="material-symbols-outlined"> redeem </span><br />Sent
            Gifts
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card-wrapper">
    <div class="card-wrapper-inner">
      <h3>Statistics</h3>

      <div class="icon-container">
        <div class="column">
          <p>
            <span class="material-symbols-outlined"> leaderboard </span
            ><br />Overall
          </p>
        </div>
        <div class="column">
          <p>
            <span class="material-symbols-outlined"> analytics </span
            ><br />Community
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-overview"></div>
</div>

<!-- <div class="card-wrapper-carousel">
    <ngx-slick-carousel
      class="carousel"
      #slickModal="slick-carousel"
      [config]="sliderConfig"
      (init)="slickInit($event)"
      (breakpoint)="breakpoint($event)"
      (afterChange)="afterChange($event)"
      (beforeChange)="beforeChange($event)"
    >
      <div ngxSlickItem *ngFor="let slide of slides" class="slide">
        <img src="{{ slide.img }}" alt="" width="100%" />
        <div class="text-part">
          <p>{{ slide.text }}</p>
        </div>
      </div>
    </ngx-slick-carousel>
  </div> </div>
-->
