.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48 !important ;
  font-size: 25px;
}

.icon-container {
  display: flex; /* Create a flex container */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  padding-bottom: 8px;
}

.column {
  flex: 1; /* Allow columns to grow equally */
  padding: 20px;
  text-align: center; /* Center content horizontally within columns */
  border: 1px solid #ccc;
}

.custom-button {
  margin: 2px;
  height: 45px;
  width: 45px;
  color: black;
  border-radius: 20%; /* This property makes the button round */
  text-align: center;
  background-color: #4bbf89;
  border: 0;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.sad {
  color: #ff6347; /* tomato color for sad */
}

.satisfied {
  color: #8eb20e; /* yellow color for satisfied */
  position: relative; /* needed to position the pseudo-element correctly */
  display: inline-block;
}

.satisfied-dom {
  color: #8eb20e; /* yellow color for satisfied */
  position: relative; /* needed to position the pseudo-element correctly */
  display: inline-block;
}

.satisfied::after {
  content: "✓"; /* check mark character */
  position: absolute;
  top: -10px; /* adjust as needed */
  right: -10px; /* adjust as needed */
  font-size: 1.5em; /* adjust the size of the check mark */
  color: green; /* color of the check mark */
}

.year-dissatisfied::after {
  content: "✓"; /* check mark character */
  position: absolute;
  top: -10px; /* adjust as needed */
  right: -10px; /* adjust as needed */
  font-size: 1.5em; /* adjust the size of the check mark */
  color: rgb(239, 31, 16); /* color of the check mark */
}
.year-dissatisfied {
  color: #ffa500; /* orange color for dissatisfied */
  position: relative; /* needed to position the pseudo-element correctly */
  display: inline-block;
}

.dissatisfied {
  color: #ffa500; /* orange color for dissatisfied */
}

.mood {
  color: #1c921c; /* lime green color for very satisfied */
}

.very-satisfied {
  color: #42a008; /* existing color for mood */
}

.emotion-container {
  padding-top: 10px;
}

.process-container {
  display: flex;
  align-items: center;
  padding: 5px;
}

.round-button.main {
  width: 70px;
  height: 10px;
  border-radius: 50%;
  background-color: #3a996c;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

.place-holder {
  width: 70px;
  height: 20px;
  border-radius: 50%;
  background-color: gray;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

.process-line {
  height: 4px;
  width: 200px;
  background-color: lightgray;
  margin: 0 0px;
}
.chart-container {
  background-color: white;
  padding: 5px;
}

.statistic-wrapper {
  background-color: whitesmoke;
}

.chart-description {
  padding-top: 14px;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}

.therapy-description {
  padding-top: 10px;
}

a {
  color: green;
  text-decoration: none;
}

.statistic-footer {
  padding: 30px;
  background-color: white;
}

@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

body {
  max-width: 37.5rem;
  margin: 0 auto;
  padding: 0 1.25rem;
  font-family: "Lato", sans-serif;
}

* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  height: 68vh;
}

.carousel__navigation-item.active .carousel__navigation-button {
  background-color: whitegrey; /* Active state color */
  color: whitegrey; /* Adjust the text color if needed */
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  background-color: white;
  counter-increment: item;
}

.carousel__slide:nth-child(even) {
  background-color: white;
}

.carousel__slide:before {
  content: counter(item);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -40%, 70px);
  color: #fff;
  font-size: 2em;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;

  transition: transform 0.1s, background-color 0.3s;
}
.carousel__navigation-button.active {
  background-color: whitegrey; /* Active state color */
}
.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: -1rem;
}

.carousel::after,
.carousel__next {
  right: -1rem;
}

.carousel::before,
.carousel::after {
  content: "";
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}
