<div class="statistic-wrapper">
  <div class="chart-wrapper">
    <div class="chart-container">
      <div class="chart-description">Weekly</div>
      <canvas id="EmotionWeekly">{{ chartWeekly }}</canvas>

      <div class="therapy-description">
        Congratulation! You're currently at Week 52. You're doing 27% better
        than last week.
      </div>
    </div>
  </div>

  <div class="chart-wrapper">
    <div class="chart-container">
      <div class="chart-description">Monthly</div>
      <canvas id="EmotionMonthly">{{ chartMonthly }}</canvas>
      <div class="therapy-description">
        This month you've done not really bad but pay more attention to your
        love life.
        <a href="/haha">read more</a>
      </div>
    </div>
  </div>

  <div class="chart-wrapper">
    <div class="chart-container">
      <div class="chart-description">Yearly</div>
      <canvas id="EmotionYearly">{{ chartYearly }}</canvas>
      <div class="therapy-description">
        This year you've improved yourself in Finance, Work but did really bad
        in Relationship.
        <a href="">read more</a>
      </div>
    </div>
  </div>
  <div class="statistic-footer"></div>
</div>
