.chart-container {
  background-color: white;
  padding: 3px;
}

.chart-wrapper {
  padding: 1px;
}

.statistic-wrapper {
  background-color: whitesmoke;
  padding: 1px;
}

.chart-description {
  padding-top: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}

.therapy-description {
  padding: 10px;
}

a {
  color: green;
  text-decoration: none;
}

.statistic-footer {
  padding: 30px;
}
