<div class="main-post">
  <div class="card-wrapper">
    <div class="card-wrapper-inner">
      <div class="spruch">
        <div class="recommendation">
          <span size="30px" class="material-symbols-outlined">
            volunteer_activism
          </span>
        </div>
        <div class="community-post-shortdescription">
          Hi, how are you today? Remember to drink enough water and be brave!
        </div>
      </div>
    </div>
  </div>

  <div class="card-wrapper">
    <div class="card-wrapper-inner">
      <h3>About Me</h3>
      <div class="icon-container">
        <div class="column">
          <h3>User234</h3>
          <p>
            <img src="assets/images/user1.png" />
            <br />
          </p>

          <div class="community-post-shortdescription">
            I'm working on managing anger and self-validation. Join me on this
            journey towards better emotional well-being. <b>edit</b>
          </div>
        </div>
      </div>
    </div>

    <div class="card-wrapper">
      <div class="card-wrapper-inner">
        <h3>Love Is All Around</h3>

        <div class="community-post-wrapper">
          <div class="community-post-title">User123 sent you a flower</div>
          <div class="community-post-shortdescription">
            Hey life is too short to ... <b>read more</b>
          </div>
        </div>

        <div class="community-post-wrapper">
          <div class="community-post-title">User444 sent you a heart</div>
          <div class="community-post-shortdescription">
            I understand how you feel because I was once in that ...
            <b>read more</b>
          </div>
        </div>

        <div class="community-post-wrapper">
          <div class="community-post-title">Tammy poked you</div>
          <div class="community-post-shortdescription">
            Hi friend, hope you doing well today and will do much better ...
            <b>read more</b>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
