<div routerLink="/responses/received" class="settings-button">
  <button>
    <span class="material-symbols-outlined"> password </span>
    Change Password
  </button>
</div>
<div routerLink="/responses/sent" class="settings-button">
  <button>
    <span class="material-symbols-outlined"> email </span>
    Change Email
  </button>
</div>

<div class="settings-button">
  <button>
    <i class="material-symbols-outlined"> logout </i>
    Logout
  </button>
</div>

<div routerLink="/user-profile/delete" class="settings-button">
  <button>
    <i class="material-symbols-outlined"> person_off </i>
    Delete Account
  </button>
</div>
